.song-bar {
  bottom: 0;
  height: 40px;
}

#song-volume {
  width: 180px;
}

.song-slider {
  width: 500px;
  display: flex;
  align-items: center;
  padding: 0px 0px 10px;
}

.song-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-title {
  color: white;
  font-size: 18px;
  padding-bottom: 5px;
}

.song-user {
  color: darkgray;
  font-size: 14px;
}

.song-duration {
  display: flex;
  margin: 0px 12px 2px;
  color: darkgray;
  font-size: 13px;
  width: 23px;
}

.song-info {
  width: 180px;
}
