.user-info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 10px 20px;
}

.profile-text {
  color: darkgray;
}

#profile-tabs-container {
  display: flex;
  justify-content: center;
  background-color: #080808;
}

button.MuiTab-textColorPrimary {
  color: darkgray;
}

.user-info {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
