#splash-container #main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

#splash-stepper {
  display: flex;
  justify-content: center;
  background-color: black;
}

div.MuiMobileStepper-dot {
  width: 10px;
  height: 10px;
  margin: 4px 3px;
  border-radius: 50%;
  background-color: darkgrey;
}

div.MuiMobileStepper-dotActive {
  background-color: #1bbde5;
}

.splash-img-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash-img-container {
  position: relative;
  text-align: center;
}

.splash-popular {
  display: flex;
  width: 1100px;
  align-items: center;
  flex-direction: column;
}

.popular-header {
  padding: 20px 0px 10px;
  color: gray;
  font-size: 20px;
}

.songs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
