.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dnd-container {
  background-color: gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.upload-form .upload-song-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
