.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dnd-container {
  background-color: gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.upload-form .upload-song-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.image-container {
  display: flex;
  flex-direction: "row";
  justify-content: "center";
  padding: 10px;
  align-items: center;
}

/* .image-preview #image-icon {
  width: 150px;
  height: 150px;
} */
