.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #003059;
  min-width: 500px;
  min-height: 300px;
  background-color: darkgrey;
}

.dnd-container {
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upload-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.upload-song-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

/* .image-preview #image-icon {
  width: 150px;
  height: 150px;
} */

.form-text {
  color: #003059;
}

.upload-details-container {
  width: 60vw;
  padding: 20px;
}

.form-field {
  width: 60vw;
}

#submit-btn {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: center;
}
